<ion-header>
  <ion-toolbar color ="primary">
      <ion-buttons slot="start">
          <ion-back-button  defaultHref="/carts"></ion-back-button> 
      </ion-buttons>
      <ion-button (click) = "goToMap()" slot="end">
          <ion-icon name="compass"></ion-icon>
      </ion-button>

    <ion-title align = "center">{{cartName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Sliding delete option for each item -->
  <ion-item-sliding *ngFor = "let item of items">
    <ion-item>
      <ion-label>
        {{item}}
      </ion-label>
    </ion-item>
    <ion-item-options>
      <ion-item-option color="danger" (click)="removeItem((item))">
        <ion-icon slot="end"></ion-icon>
        Delete
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-content>
